<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="searchresults" method = "POST">
        <span>Product name</span> <br>
        <input name="productName" type="text"> <br>
        <span>min</span> <br>
        <input name="min" type="number"> <br>
        <span>max</span> <br>
        <input name="max" type="number">
    </form>
</body>
</html>